<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="룰렛(샘플)@캐시블록"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashBlockSDKExample"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="enable_ap_log"
            android:value="enable" />
        <meta-data
            android:name="cashblock.config.environment"
            android:value="live" />
        <meta-data
            android:name="cashblock.config.developer"
            android:value="true" />
        <meta-data
            android:name="cashblock.config.log"
            android:value="true" />

        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor" />

    </application>

</manifest>